* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #C3B8BC;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header nav {
  background-color: #E77462;
  display: flex;
  justify-content: flex-end;
  width: 90%;
  border-radius: 0 5px 5px 0;
}
header nav button {
  background-color: #FFFEFE;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFEFE;
  border-radius: 5px;
}

.resume .resume-section .article-2, .resume .resume-section .img-2, .resume .resume-section .article-1, .resume .resume-section .img-1, .projects__article__section, .projects__article__img, .landing .landing__article {
  box-shadow: 0px 8px 10px #8888883d;
}

.contact, .resume, .projects, .landing {
  background-color: #F2F2F2;
  height: calc(100vh - 70px);
  width: 90%;
}

.landing {
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 6;
}

.projects__article__img {
  width: 80vw;
  height: 25vh;
  background-color: #E1E2DC;
  max-width: 100%;
}

.projects__article__section {
  width: 50vw;
  height: 15vh;
  transform: rotate(-1deg);
  background-color: #FFFEFE;
}

.section-container {
  display: flex;
  justify-content: center;
}

.landing .landing__article {
  background-color: #FFFEFE;
  margin: 1rem;
  margin-top: 4rem;
  padding: 2rem;
  height: 60vh;
  transform: rotate(1deg);
  grid-column: 4/8;
  grid-row: 4/6;
}
.landing .landing__article h1,
.landing .landing__article p {
  transform: rotate(-1deg);
  padding: 0.5rem;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}

.projects-header {
  background-color: #679281;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects__article {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.projects__article__img {
  grid-column: 2/12;
  grid-row: 2/6;
}
.projects__article__section {
  grid-column: 3/8;
  grid-row: 5/7;
}
.projects__article .section-2 {
  grid-column: 4/10;
  transform: rotate(1deg);
}

.resume-header {
  background-color: #EAD87E;
}

.resume .skills {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.resume .skills__icon {
  margin: 10px;
}
.resume .skills .icon-1 {
  color: #C3B8BC;
}
.resume .skills .icon-2 {
  color: #679281;
}
.resume .skills .icon-3 {
  color: #353235;
}
.resume .skills .icon-4 {
  color: #E77462;
}
.resume .skills .icon-5 {
  color: #B1BBBA;
}
.resume .skills .icon-6 {
  color: #EAD87E;
}
.resume .resume-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, auto);
  padding: 1rem;
}
.resume .resume-section__img {
  width: 50vw;
  height: 20vh;
  background-color: #E1E2DC;
}
.resume .resume-section__article {
  width: 30vw;
  height: 10vh;
  background-color: #FFFEFE;
}
.resume .resume-section .img-1 {
  grid-column: 2/9;
  grid-row: 3/7;
}
.resume .resume-section .article-1 {
  grid-column: 8/12;
  grid-row: 2/4;
  z-index: 1;
  transform: rotate(1deg);
}
.resume .resume-section .img-2 {
  padding: 1rem;
  grid-column: 4/13;
  grid-row: 2/5;
}
.resume .resume-section .article-2 {
  grid-column: 2/5;
  grid-row: 4/7;
  z-index: 1;
  transform: rotate(-1deg);
}

.contact-header {
  background-color: #353235;
}