* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #C3B8BC;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header nav {
  background-color: #E77462;
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
header nav button {
  background-color: #FFFEFE;
  width: 2em;
  height: 2em;
  border: 1px solid #FFFEFE;
  border-radius: 5px;
}

.section-container {
  display: flex;
  justify-content: center;
}

section {
  background-color: #F2F2F2;
  height: 100vh;
  width: 90%;
  display: grid;
  grid-template-columns: 12;
  grid-template-rows: 6;
}
section .landing__article {
  background-color: #FFFEFE;
  margin: 1rem;
  margin-top: 4rem;
  padding: 2rem;
  height: 60vh;
  transform: rotate(1deg);
  box-shadow: 0px 8px 10px #8888883d;
  grid-column: 4/8;
  grid-row: 1/3;
}
section .landing__article h1,
section .landing__article p {
  transform: rotate(-1deg);
  padding: 0.5rem;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
}