$color-green: #679281;
$color-red: #E77462;
$color-neutral: #F2F2F2;
$color-yellow: #EAD87E;
$color-black: #353235;
$color-grey-pink: #C3B8BC;
$color-white: #FFFEFE;
$color-lightgrey: #F6F6F1;
$color-blue-grey: #B1BBBA