.section-container {
    display: flex;
    justify-content: center;
}

.landing {
    @extend %background;
    @extend %grid-container;

    .landing__article {
        background-color: $color-white;
        margin: 1rem;
        margin-top: 4rem;
        padding: 2rem;
        height: 60vh;
        transform: rotate(1deg);
        @extend %box-shadow;
        grid-column: 4 / 8;
        grid-row: 4 / 6;

        h1,
        p {
            transform: rotate(-1deg);
            padding: 0.5rem;
        }
    }
}

